<p>
	Instructions go here. Instructions go here. Instructions go here. Instructions go here.
	Instructions go here. Instructions go here. Instructions go here. Instructions go here.
	Instructions go here. Instructions go here. Instructions go here. Instructions go here.
	Instructions go here. Instructions go here. Instructions go here. Instructions go here.
</p>

<%= form_for(@reservation, :remote=>true, :url => reservations_wizard_path) do |f| %>
  <fieldset>
	<div class="control-group">
      <label class="control-label" for="input01">Custom Question:</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="input01">
      </div>
    </div>
	<div class="control-group">
      <label class="control-label" for="input01">Custom Question:</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="input01">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">Custom Question:</label>
      <div class="controls">
        <%=	collection_select("name", "resource_id", @reservations, :id, :title )	%> <!-- TODO: change to correct Department list -->
      </div>
    </div>
  </fieldset>
  <p><%= f.submit "Continue", :name => "next_button" unless @reservation.first_step? %></p>
  <p><%= f.submit "Back", :name => "back_button" unless @reservation.first_step? %></p>
<% end %>