<a class="btn" data-toggle="modal" href="#wizard" >Launch Wizard</a>
<div class="modal hide fade" id="wizard">
	<button type="button" class="close" data-dismiss="modal">×</button>
   	<div class="tab-pane active" id="tab1">
      <%= render 'form' %>
    </div>
</div>

