// Place all the styles related to the Reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	margin: 0.5em 0;
}
#wizard {
	width: 760px;
	height: 500px;
	left: 40%;
	padding: 0.5em 1em;
}
#wizard-table {
	height:8.5em;
	overflow:auto;
}
table.wizard tr:nth-child(n+5) {
	/*display:none;*/
}
button.wizard-resource, input.wizard-resource {
	width: 120px;
	height: 120px;
	text-indent: -9999px;
}
input.resource-projector {
	background:url(projector.png) center center no-repeat !important;
}
input.resource-laptop {
	background:url(laptop.png) center center no-repeat !important;
}
input.resource-advising {
	background:url(advising.png) center center no-repeat !important;
}
input.resource-room {
	background:url(room.png) center center no-repeat !important;
}
input.resource-permit {
	background:url(permit.png) center center no-repeat !important;
}
input.resource-vehicle {
	background:url(vehicle.png) center center no-repeat !important;
}
.wizard-btn-group {
	margin-left: 150px;
	max-width: 360px;
}

.centered {
	text-align: center;
}
img.wizard-image {
	max-width:100px;
	max-height:100px;
}